{% load staticfiles %}
<html>
    <head>
        <title>Blog SSPsicologia</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    </head>
    <body>
        <div>
            <h1><a href="/">Blog de Servicio Social, Escuela de Psicología</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                <p><a href="{{ post.upload.url }}">{{ post.upload.url }}</a></p>
                <!--AQUI ESTOY COMENTANDO FUERA LA IMAGEN DIRECTAMENTE.SI DESEO MOSTRARLA, debo quitar los simbolos externos, y este comentario<p><img src= "{{ post.upload.url }}" /></p>-->
                <p>published: {{ post.published_date }}</p>
            </div>
        {% endfor %}
    </body>
</html>